# Logging info
log_level: "debug"

# General project info
project_name: "Product Popularity Model"
project_version: "v2025.02"

# Run settings: select a period
#period_month: '202501' # YYYYMM

# Data Location
project_input: "data/input/"

# Input Data Files
WACD_Local: 'AF_KL_MP_20240101-20250101_product.csv'



