name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    # These steps are created as every job requires to run the code successfully.
    # Ex. Add tasks outside of main.py so we can execute the code such as installing the packages.
    # then no need to add tasks like 'read data' since it is a part of main.py
    # Other possible tasks can be testing, deployment, quality control etc.
    # If added more python files like read.py write.py that are run in main.py, we don't need to add these files in the steps.


    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Step 4: Run the Python script
      - name: Run script
        run: python main.py

      - name: Run Unit Tests
        run: |
          pytest tests/

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      # TODO: Create an artifact to store output etc

      - name: Verify GCP connection (list active account and project)
        run: |
          gcloud auth list
          gcloud config list project

      - name: Deploy to Cloud Run from Source (No Docker Image)
        run: |
          gcloud run deploy niche-market-product \
              --source . \
              --platform=managed \
              --region=us-central1 \
              --allow-unauthenticated
