name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT_ID: tlp-niche-market-research
  REGION: us-central1
  REPO_NAME: niche-market-product
  IMAGE_NAME: niche-market-product

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    # These steps are created as every job requires to run the code successfully.
    # Ex. Add tasks outside of main.py so we can execute the code such as installing the packages.
    # then no need to add tasks like 'read data' since it is a part of main.py
    # Other possible tasks can be testing, deployment, quality control etc.
    # If added more python files like read.py write.py that are run in main.py, we don't need to add these files in the steps.

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker to use Artifact Registry
        run: |
          gcloud auth configure-docker $REGION-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest .

      - name: Push Docker image to Artifact Registry
        run: |
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest

      - name: Deploy to Cloud Run from image
        run: |
          gcloud run deploy $IMAGE_NAME \
            --image $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest \
            --platform managed \
            --region $REGION \
            --allow-unauthenticated